* {
  box-sizing: border-box;
}

.signUp {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background: #ffffff;
  padding-right: 7px;
  width: 1440px;
  height: 1024px;
  overflow: hidden;

  .imageSignUp {
    width: 852px;
    height: 1024px;
  }

  .autoWrapper3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 84px;

    .helpCircle {
      flex-shrink: 0;
      width: 16px;
      height: 16px;
      overflow: hidden;
    }

    .signUpSection {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin-right: 80px;
      margin-left: 69px;
      padding: 1px 13px 1px 26px;
      overflow: hidden;

      .autoWrapper {
        position: relative;
        margin-left: 45px;
        width: 284px;
        height: 284px;

        .nightCrawlersLogoWhi {
          position: absolute;
          top: 0;
          left: 0;
          width: 284px;
          height: 284px;
        }

        .startYourNightCrawle {
          position: absolute;
          top: 194px;
          right: -65px;
          width: 398px;
          height: 29px;
          line-height: 29px;
          letter-spacing: -0.48px;
          color: #222222;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
          font-weight: 600;
        }

        .signUpToEnjoyFastDel {
          position: absolute;
          top: 244px;
          right: -79px;
          width: 434px;
          height: 34px;
          text-align: center;
          line-height: 17px;
          letter-spacing: -0.28px;
          color: #667085;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
        }
      }

      .form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 31px;
        row-gap: 20px;

        .text {
          flex-grow: 1;
          line-height: 24px;
          letter-spacing: 0;
          color: var(--Gray-500, #667085);
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
        }

        .label {
          flex-shrink: 0;
          line-height: 20px;
          letter-spacing: 0;
          color: var(--Gray-700, #344054);
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
        }

        .inputWithLabel {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          row-gap: 6px;

          .content {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 8px;
            border: 1px solid var(--Gray-300, #d0d5dd);
            border-radius: 4px;
            box-shadow: var(--Shadow-xs, 0px 1px 2px 0px #1018280d);
            background: var(--White, #ffffff);
            padding: 9px 13px;
          }
        }

        .inputWithLabel2 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          row-gap: 6px;

          .content2 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 8px;
            border: 1px solid var(--Gray-300, #d0d5dd);
            border-radius: 4px;
            box-shadow: var(--Shadow-xs, 0px 1px 2px 0px #1018280d);
            background: var(--White, #ffffff);
            padding: 9px 13px;

            .text2 {
              flex-grow: 1;
              line-height: 24px;
              letter-spacing: 0;
              color: #667085;
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
            }
          }
        }

        .inputWithLabel3 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          row-gap: 6px;

          .input {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 8px;
            border: 1px solid var(--Gray-300, #d0d5dd);
            border-radius: 4px;
            box-shadow: var(--Shadow-xs, 0px 1px 2px 0px #1018280d);
            background: var(--White, #ffffff);
            padding: 9px 13px;
            overflow: hidden;
          }
        }

        .aInputFieldBase {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          row-gap: 6px;

          .hintText {
            flex-shrink: 0;
            align-self: stretch;
            line-height: 20px;
            letter-spacing: 0;
            color: var(--Gray-500, #667085);
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
          }
        }
      }
    }

    .signUpButtonSection {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin: 34px 95px 0px 94px;

      .buttonSignUp {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 7px;
        border-radius: 4px;
        box-shadow: 0px 4px 4px 0px #0000001a;
        background: #c62222;
        width: 385px;
        height: 50px;

        .createAccount {
          flex-shrink: 0;
          width: 205px;
          text-align: center;
          letter-spacing: 0;
          color: #ffffff;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
          font-weight: 500;
        }
      }

      .autoWrapper2 {
        position: relative;
        margin-top: 7px;
        margin-left: 67px;
        width: 274px;
        height: 33px;

        .logIn {
          position: absolute;
          top: 0;
          left: 0;
          padding: 5px 19px 4px 0px;
          width: 274px;
          height: 33px;
          text-align: right;
          line-height: 24px;
          letter-spacing: 0;
          color: #c62222;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
        }

        .alreadyHaveAnAccount {
          position: absolute;
          top: 5px;
          left: -11px;
          width: 211px;
          height: 24px;
          line-height: 24px;
          letter-spacing: 0;
          color: #222222;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
        }
      }
    }

    .footer {
      display: flex;
      align-items: flex-end;
      align-self: stretch;
      justify-content: space-between;
      margin-top: 34px;
      padding: 32px;
      min-width: 574px;
      height: 96px;

      .text3 {
        flex-shrink: 0;
        line-height: 20px;
        letter-spacing: 0;
        color: var(--Gray-500, #667085);
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }

      .row {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 8px;
      }
    }
  }
}
