* {
  box-sizing: border-box;
}

.footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 32px;
  width: 574px;
  height: 96px;

  .text {
    flex-shrink: 0;
    line-height: 20px;
    letter-spacing: 0;
    color: var(--Gray-500, #667085);
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 14px;
  }

  .row {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    column-gap: 8px;

    .mail {
      flex-shrink: 0;
      width: 16px;
      height: 16px;
      overflow: hidden;
    }
  }
}
