* {
  box-sizing: border-box;
}

.logIn {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background: #ffffff;
  padding-right: 7px;
  width: 1440px;
  height: 1024px;
  overflow: hidden;

  .imageSignUp {
    width: 852px;
    height: 1024px;
  }

  .autoWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 84px;

    .signUpSection {
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin-right: 80px;
      margin-left: 69px;
      padding: 10px 14px 32px 25px;
      overflow: hidden;

      .label {
        flex-shrink: 0;
        line-height: 20px;
        letter-spacing: 0;
        color: var(--Gray-700, #344054);
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 500;
      }

      .nightCrawlersLogoWhi {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        margin-right: 51px;
        margin-left: 51px;
        padding: 185px 54px 70px 45px;
        background-image: url(../image/mjc46c4s-djptn6w.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        .welcomeBack {
          line-height: 29px;
          letter-spacing: -0.48px;
          color: #222222;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
          font-weight: 600;
        }
      }

      .form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 22px;
        row-gap: 20px;

        .inputWithLabel {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          row-gap: 6px;

          .content {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 8px;
            border: 1px solid var(--Gray-300, #d0d5dd);
            border-radius: 4px;
            box-shadow: var(--Shadow-xs, 0px 1px 2px 0px #1018280d);
            background: var(--White, #ffffff);
            padding: 9px 13px;

            .text {
              flex-grow: 1;
              line-height: 24px;
              letter-spacing: 0;
              color: #667085;
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
            }
          }
        }

        .inputWithLabel2 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          row-gap: 6px;

          .content2 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 8px;
            border: 1px solid var(--Gray-300, #d0d5dd);
            border-radius: 4px;
            box-shadow: var(--Shadow-xs, 0px 1px 2px 0px #1018280d);
            background: var(--White, #ffffff);
            padding: 9px 13px;

            .text2 {
              flex-grow: 1;
              line-height: 24px;
              letter-spacing: 0;
              color: var(--Gray-500, #667085);
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
            }
          }
        }
      }

      .row {
        display: flex;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        margin-top: 27px;
        min-width: 386px;

        .checkbox {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          column-gap: 8px;

          .aCheckboxBase {
            flex-shrink: 0;
            border: 1px solid var(--Gray-300, #d0d5dd);
            border-radius: 4px;
            background: var(--White, #ffffff);
            width: 16px;
            height: 16px;
            overflow: hidden;
          }
        }

        .text3 {
          flex-shrink: 0;
          line-height: 20px;
          letter-spacing: 0;
          color: #c62222;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
        }
      }

      .welcomeBackPleaseLog {
        position: absolute;
        top: 245px;
        left: 62px;
        width: 311px;
        height: 34px;
        text-align: center;
        line-height: 17px;
        letter-spacing: -0.28px;
        color: #667085;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }
    }

    .signInButtonSection {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin: 25px 95px 0px 94px;

      .buttonSignUp {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 7px;
        border-radius: 4px;
        box-shadow: 0px 4px 4px 0px #0000001a;
        background: #c62222;
        width: 385px;
        height: 50px;

        .signIn {
          flex-shrink: 0;
          width: 205px;
          text-align: center;
          letter-spacing: 0;
          color: #ffffff;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
          font-weight: 500;
        }
      }

      .signUpLogInPtopmpt {
        display: flex;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        margin: 7px 63px 0px 50px;
        padding: 5px 0px 4px 10px;
        min-width: 272px;
        height: 33px;
        overflow: hidden;

        .donTHaveAnAccount {
          line-height: 24px;
          letter-spacing: 0;
          color: #222222;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
        }

        .signUp {
          line-height: 24px;
          letter-spacing: 0;
          color: #c62222;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
        }
      }
    }

    .footer {
      display: flex;
      align-items: flex-end;
      align-self: stretch;
      justify-content: space-between;
      margin-top: 171px;
      padding: 32px;
      min-width: 574px;
      height: 96px;

      .text4 {
        flex-shrink: 0;
        line-height: 20px;
        letter-spacing: 0;
        color: var(--Gray-500, #667085);
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }

      .row2 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 8px;

        .mail {
          flex-shrink: 0;
          width: 16px;
          height: 16px;
          overflow: hidden;
        }
      }
    }
  }
}
