* {
  box-sizing: border-box;
}

.heroSection1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1032px;
  height: 269px;
  row-gap: 50px;

  .everyDeliveryToYourD {
    flex-shrink: 0;
    line-height: 58px;
    letter-spacing: -0.96px;
    color: #222222;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: 600;
  }

  .nightCrawlersIsMoreT {
    flex-shrink: 0;
    align-self: stretch;
    width: 1032px;
    height: 84px;
    text-align: center;
    line-height: 24px;
    letter-spacing: -0.4px;
    color: #222222;
    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 20px;
  }

  .exploreCategoriesBut {
    display: flex;
    flex-shrink: 0;
    align-items: flex-start;
    width: 225px;

    .exploreCategoriesHer {
      margin: 0px 0px 0px -62px;
      width: 263px;
      height: 27px;
      text-align: center;
      letter-spacing: 0;
      color: #c62222;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 600;
    }

    .forward {
      margin-top: 6px;
      margin-left: 4px;
      width: 20px;
      height: 20px;
    }
  }
}
