* {
  box-sizing: border-box;
}

.faqs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #ffffff;
  padding-top: 59px;
  width: 1440px;
  height: 1303px;
  overflow: hidden;

  .autoWrapper {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
    padding-right: 42px;
    padding-left: 498px;

    .menuNav {
      display: inline-flex;
      align-items: center;
      column-gap: 64px;
      margin-top: 4px;

      .home {
        flex-shrink: 0;
        line-height: 36px;
        letter-spacing: 0;
        color: #222222;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 24px;
      }
    }

    .navButtons {
      display: inline-flex;
      align-items: center;
      column-gap: 36px;

      .buttonLogIn {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        border-radius: 200px;
        box-shadow: 0px 4px 4px 0px #0000001a;
        background: #c62222;
        padding: 10px 10px 7px 7px;

        .shoppingCart {
          width: 25px;
          height: 25px;
        }
      }

      .buttonLogIn2 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        column-gap: 7px;
        border-radius: 200px;
        box-shadow: 0px 4px 4px 0px #0000001a;
        background: #c62222;
        width: 42px;
        height: 42px;

        .customer {
          flex-shrink: 0;
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  .vector1 {
    margin-top: 4px;
    margin-left: 996px;
    width: 60px;
    height: 11px;
  }

  .autoWrapper2 {
    position: relative;
    margin-top: 54px;
    margin-left: 289px;
    width: 863px;
    height: 191px;

    .nightCrawlersLogoWhi {
      position: absolute;
      top: -235px;
      left: -264px;
      width: 284px;
      height: 284px;
    }

    .faqTitle {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 863px;
      height: 191px;
      row-gap: 30px;

      .aboutNightCrawlers2 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        column-gap: 10px;
        margin-right: 399px;
        margin-left: 399px;
        border: 1px solid #eaecf0;
        border-radius: 50px;
        background: #2e3d860d;
        padding: 7px 9px;

        .aboutNightCrawlers {
          flex-shrink: 0;
          line-height: 27px;
          letter-spacing: 0;
          color: var(--grey-base, #363838);
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 18px;
        }
      }

      .questionsWeFrequentl {
        flex-shrink: 0;
        align-self: stretch;
        text-align: center;
        line-height: 58px;
        letter-spacing: -0.96px;
        color: #222222;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 48px;
        font-weight: 600;
      }

      .supportingText {
        flex-shrink: 0;
        width: 768px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        letter-spacing: 0;
        color: var(--Gray-500, #667085);
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 20px;
      }
    }
  }

  .qstAnsContainer {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
    margin: 72px 41px 0px;
    min-width: 1358px;

    .categoriesContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 1px;
      row-gap: 40px;

      .subheading {
        flex-grow: 1;
        align-self: stretch;
        line-height: 24px;
        letter-spacing: 0;
        color: #c62222;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-weight: 600;
      }

      .categories {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        row-gap: 24px;

        .generalInformation {
          flex-shrink: 0;
          align-self: stretch;
          padding: 9px 0px 8px 17px;
          width: 307px;
          height: 41px;
          line-height: 24px;
          letter-spacing: 0;
          color: #222222;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 500;
        }

        .purchasingPayment {
          flex-shrink: 0;
          align-self: stretch;
          padding: 6px 0px 5px 17px;
          width: 307px;
          height: 41px;
          line-height: 30px;
          letter-spacing: 0;
          color: var(--Gray-500, #667085);
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
        }
      }
    }

    .qstAns {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 768px;

      .buttonSelect {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        column-gap: 7px;
        border-radius: 200px;
        background: #eaecf0;
        width: 20px;
        height: 20px;

        .minus {
          flex-shrink: 0;
          width: 12px;
          height: 12px;
        }
      }

      .qst5 {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        border: 1px solid #c62222;
        border-radius: 4px;
        padding: 14px 12px;
        width: 769px;
        height: 111px;

        .qstInner {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 530px;
          margin-right: -2px;

          .text {
            flex-shrink: 0;
            width: 195px;
            line-height: 30px;
            letter-spacing: 0;
            color: var(--Gray-900, #101828);
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 500;
          }
        }

        .purchasingPaymentWeD {
          position: absolute;
          top: 46px;
          left: 12px;
          flex-shrink: 0;
          width: 434px;
          height: 36px;
          line-height: 18px;
          letter-spacing: 0;
          color: var(--Gray-500, #667085);
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
        }
      }

      .qstInner2 {
        display: flex;
        align-items: center;
        align-self: stretch;
        justify-content: flex-end;
        column-gap: 530px;
        margin: 30px -1px 0px;
        border-radius: 4px;
        background: #eaecf06b;
        padding: 15px 11px 15px 13px;

        .text2 {
          flex-shrink: 0;
          width: 195px;
          line-height: 30px;
          letter-spacing: 0;
          color: var(--Gray-900, #101828);
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
        }
      }
    }
  }

  .qstTitleContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    margin: 62px 1090px 0px 41px;
    row-gap: 8px;

    .qstTitle {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 16px;
      margin-right: 55px;

      .about {
        flex-shrink: 0;
        width: 24px;
        height: 24px;
      }

      .stillHaveAQuestion {
        flex-shrink: 0;
        line-height: 30px;
        letter-spacing: 0;
        color: #222222;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 500;
      }
    }

    .ifYouDidNtFindYourAn {
      flex-shrink: 0;
      width: 309px;
      height: 18px;
      line-height: 18px;
      letter-spacing: 0;
      color: var(--Gray-500, #667085);
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 12px;
    }

    .subheading2 {
      flex-shrink: 0;
      align-self: stretch;
      width: 309px;
      height: 24px;
      line-height: 24px;
      letter-spacing: 0;
      color: #c62222;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
      text-decoration: underline;
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 67px;
    background: #222222;
    padding-bottom: 1px;
    height: 272px;
    overflow: hidden;

    .autoWrapper3 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      margin-top: -23px;
      padding-right: 39px;
      padding-left: 25px;

      .logoFooterText {
        position: relative;
        width: 281px;
        height: 182px;

        .nightCrawlersLogoBla {
          position: absolute;
          top: -12px;
          left: -1px;
          width: 240px;
          height: 240px;
        }

        .getYourFavoriteMeals {
          position: absolute;
          top: 139px;
          left: 16px;
          width: 268px;
          height: 40px;
          line-height: 20px;
          letter-spacing: 0;
          color: #ffffff;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
        }
      }

      .links {
        display: flex;
        align-items: flex-start;
        column-gap: 32px;
        margin-top: 60px;
        width: 690px;

        .aFooterLinksColumn {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: flex-start;
          row-gap: 10px;

          .heading {
            flex-shrink: 0;
            align-self: stretch;
            line-height: 20px;
            letter-spacing: 0;
            color: var(--Gray-400, #98a2b3);
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 600;
          }

          .footerLinks {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            row-gap: 6px;

            .text3 {
              flex-shrink: 0;
              line-height: 24px;
              letter-spacing: 0;
              color: var(--Gray-200, #e4e7ec);
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
              font-weight: 500;
            }
          }
        }
      }
    }

    .footerIncSocials {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      margin-top: 61px;
      border-radius: 0px 0px 4px 4px;
      background: #c62222;
      padding: 12px 39px 8px 41px;
      min-width: 1440px;
      overflow: hidden;

      .footerText {
        margin: 3px 0px 0px;
        width: 296px;
        height: 27px;
        line-height: 30px;
        letter-spacing: 0;
        color: #ffffff;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 18px;
      }

      .socials {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 186px;
        min-width: 186px;
        height: 31px;

        .instagram {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
