* {
  box-sizing: border-box;
}

.heroSection2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1386px;
  height: 676px;
  row-gap: 90px;

  .aboutNightCrawlers2 {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    column-gap: 10px;
    margin-right: 588px;
    margin-left: 588px;
    border: 1px solid #eaecf0;
    border-radius: 50px;
    background: #2e3d860d;
    padding: 7px 9px;

    .aboutNightCrawlers {
      flex-shrink: 0;
      line-height: 27px;
      letter-spacing: 0;
      color: var(--grey-base, #363838);
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 18px;
    }
  }

  .heroSection2Inner1 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;

    .heroSection2Inner2 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      row-gap: 48px;

      .redefiningConvenienc {
        flex-shrink: 0;
        width: 590px;
        line-height: 58px;
        letter-spacing: -0.96px;
        color: #222222;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 48px;
        font-weight: 600;
      }

      .nightCrawlersIsMoreT {
        flex-shrink: 0;
        align-self: stretch;
        width: 674px;
        line-height: 24px;
        letter-spacing: -0.4px;
        color: #222222;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 20px;
      }
    }

    .hero2Image {
      flex-shrink: 0;
      width: 543px;
      height: 543px;
    }
  }
}
