* {
  box-sizing: border-box;
}

.heroSection3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1386px;
  height: 753px;
  row-gap: 120px;

  .restaurant1 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
  }

  .heroSection3Heading {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;

    .orderTastyMealsThrou {
      flex-shrink: 0;
      width: 299px;
      height: 79px;
      line-height: 40px;
      letter-spacing: 0;
      color: #222222;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 32px;
      font-weight: 600;
    }

    .exploreButton {
      position: relative;
      flex-shrink: 0;
      width: 233px;
      height: 30px;

      .exploreAllRestauants {
        position: absolute;
        top: 2px;
        left: -26px;
        width: 236px;
        height: 27px;
        text-align: center;
        letter-spacing: 0;
        color: #c62222;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 600;
      }

      .forward {
        position: absolute;
        top: 8px;
        left: 209px;
        width: 20px;
        height: 20px;
      }
    }
  }

  .restaurantContainer1 {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    column-gap: 274px;
    margin-right: 131px;
    margin-left: 131px;

    .kFc {
      margin: 14px 0px 0px;
      line-height: 36px;
      letter-spacing: 0;
      color: #c62222;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 500;
    }

    .vector {
      width: 158px;
      height: 167px;
    }

    .restaurant2 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      padding-right: 12px;
      padding-left: 12px;
    }

    .restaurant3 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      padding-right: 6px;
      padding-left: 6px;
    }
  }

  .restaurantContainer2 {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    column-gap: 274px;
    margin-right: 398px;
    margin-left: 398px;
  }
}
