* {
  box-sizing: border-box;
}

.vendors {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  background: #ffffff;
  padding-top: 59px;
  width: 1440px;
  height: 1039px;
  overflow: hidden;

  .nightCrawlersLogoWhi {
    position: absolute;
    top: -65px;
    left: 25px;
    width: 284px;
    height: 284px;
  }

  .autoWrapper3 {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    padding-right: 0;
    padding-left: 0;

    .autoWrapper {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      padding-right: 42px;
      padding-left: 498px;

      .menuNav {
        display: inline-flex;
        align-items: center;
        column-gap: 64px;
        margin-top: 4px;

        .home {
          flex-shrink: 0;
          line-height: 36px;
          letter-spacing: 0;
          color: #222222;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
        }
      }

      .navButtons {
        display: inline-flex;
        align-items: center;
        column-gap: 36px;

        .buttonLogIn {
          display: flex;
          flex-shrink: 0;
          align-items: flex-start;
          border-radius: 200px;
          box-shadow: 0px 4px 4px 0px #0000001a;
          background: #c62222;
          padding: 10px 10px 7px 7px;

          .shoppingCart {
            width: 25px;
            height: 25px;
          }
        }

        .buttonLogIn2 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          column-gap: 7px;
          border-radius: 200px;
          box-shadow: 0px 4px 4px 0px #0000001a;
          background: #c62222;
          width: 42px;
          height: 42px;

          .customer {
            flex-shrink: 0;
            width: 30px;
            height: 30px;
          }
        }
      }
    }

    .vector1 {
      margin-top: 8px;
      margin-left: 838px;
      width: 89px;
      height: 12px;
    }

    .heroSection2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
      margin-top: 60px;
      margin-left: 37px;

      .aboutNightCrawlers2 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        column-gap: 10px;
        margin-right: 611px;
        margin-left: 611px;
        border: 1px solid #eaecf0;
        border-radius: 50px;
        background: #2e3d860d;
        padding: 7px 9px;

        .aboutNightCrawlers {
          flex-shrink: 0;
          line-height: 27px;
          letter-spacing: 0;
          color: var(--grey-base, #363838);
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 18px;
        }
      }

      .heroSection2Inner1 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        height: 512px;

        .heroSection2Inner2 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          width: 570px;
          row-gap: 48px;

          .partnerWithUsAndBeco {
            flex-shrink: 0;
            width: 590px;
            line-height: 58px;
            letter-spacing: -0.96px;
            color: #222222;
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 48px;
            font-weight: 600;
          }

          .joinThousandsOfResta {
            flex-shrink: 0;
            align-self: stretch;
            width: 570px;
            height: 40px;
            line-height: 24px;
            letter-spacing: -0.4px;
            color: #222222;
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 20px;
          }

          .checkOutContainer {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 40px;
            margin-right: 201px;
            height: 43px;

            .buttonCheckOut {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              justify-content: center;
              column-gap: 10px;
              border-radius: 4px;
              background: #c62222;
              padding: 10px;
              width: 191px;

              .signUpAsAVendor {
                flex-shrink: 0;
                line-height: 21px;
                letter-spacing: 0;
                color: #fcfcfc;
                font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 14px;
                font-weight: 500;
              }
            }

            .buttonContinueDhoppi {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              justify-content: center;
              column-gap: 10px;
              border: 1px solid #c62222;
              border-radius: 4px;
              padding: 9px;
              width: 138px;

              .logIn {
                flex-shrink: 0;
                line-height: 21px;
                letter-spacing: 0;
                color: #c62222;
                font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 14px;
                font-weight: 500;
              }
            }
          }
        }

        .hero2Image {
          flex-shrink: 0;
          width: 590px;
          height: 515px;
        }
      }
    }

    .footer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin-top: 31px;
      background: #222222;
      height: 272px;
      overflow: hidden;

      .autoWrapper2 {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        justify-content: space-between;
        margin-top: -23px;
        padding-right: 39px;
        padding-left: 25px;

        .logoFooterText {
          position: relative;
          width: 281px;
          height: 182px;

          .nightCrawlersLogoBla {
            position: absolute;
            top: -12px;
            left: -1px;
            width: 240px;
            height: 240px;
          }

          .getYourFavoriteMeals {
            position: absolute;
            top: 139px;
            left: 16px;
            width: 268px;
            height: 40px;
            line-height: 20px;
            letter-spacing: 0;
            color: #ffffff;
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
          }
        }

        .links {
          display: flex;
          align-items: flex-start;
          column-gap: 32px;
          margin-top: 60px;
          width: 690px;

          .aFooterLinksColumn {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: flex-start;
            row-gap: 10px;

            .heading {
              flex-shrink: 0;
              align-self: stretch;
              line-height: 20px;
              letter-spacing: 0;
              color: var(--Gray-400, #98a2b3);
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 14px;
              font-weight: 600;
            }

            .footerLinks {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: flex-start;
              align-self: stretch;
              row-gap: 6px;

              .text {
                flex-shrink: 0;
                line-height: 24px;
                letter-spacing: 0;
                color: var(--Gray-200, #e4e7ec);
                font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 16px;
                font-weight: 500;
              }
            }
          }
        }
      }

      .footerIncSocials {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        justify-content: space-between;
        margin-top: 62px;
        border-radius: 0px 0px 4px 4px;
        background: #c62222;
        padding: 12px 39px 8px 41px;
        min-width: 1440px;
        overflow: hidden;

        .footerText {
          margin: 2px 0px 0px;
          width: 296px;
          height: 27px;
          line-height: 30px;
          letter-spacing: 0;
          color: #ffffff;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 18px;
        }

        .socials {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 186px;
          min-width: 186px;
          height: 31px;

          .instagram {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
}
