* {
  box-sizing: border-box;
}

.heroSection4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1388px;
  height: 393px;
  row-gap: 90px;

  .ourFeatures {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    column-gap: 10px;
    margin-right: 605px;
    margin-left: 605px;
    border: 1px solid #eaecf0;
    border-radius: 50px;
    background: #2e3d860d;
    padding: 7px 9px;
    height: 36px;

    .aboutNightCrawlers {
      flex-shrink: 0;
      line-height: 27px;
      letter-spacing: 0;
      color: var(--grey-base, #363838);
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 18px;
    }
  }

  .features {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    column-gap: 203px;

    .feature1 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      padding: 0px 25px 13px 26px;

      .phoneIconFrame {
        display: flex;
        align-items: center;
        align-self: stretch;
        margin-right: 88px;
        margin-left: 88px;
        border-radius: 100px;
        background: #e7575742;
        padding: 18px 17px 17px 18px;

        .iPhone16Pro {
          width: 65px;
          height: 65px;
        }
      }

      .easyToOrder {
        margin: 20px 0px 0px;
        line-height: 34px;
        letter-spacing: -0.56px;
        color: #222222;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 28px;
        font-weight: 600;
      }

      .fromLateNightBitesTo {
        margin: 24px 0px 0px;
        width: 275px;
        text-align: center;
        line-height: 19px;
        letter-spacing: -0.32px;
        color: #222222;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
      }
    }
  }
}
